@{
    ViewBag.Title = "Artist's Portfolio";
}

<ul data-role="listview" data-inset="true">
    <li class=item>@Html.ActionLink("Tracy", "Gallery/Tracy", "Artist")</>
    <li class=item>@Html.ActionLink("Jess", "Gallery/Jess", "Artist")</li>
    <li class=item>@Html.ActionLink("Andrew", "Gallery/Andrew", "Artist")</li>
    <li class=item>@Html.ActionLink("Cody", "Gallery/Cody", "Artist")</li>"
</ul>
