@{
    ViewBag.Title = "Artist's Portfolio";
}

<div class="content-wrapper">
    <ul data-role="listView" data-inset="true">
        <li class="item">@Html.ActionLink("Tracy", "Gallery/Tracy", "Artist")</>
        <li class="item">@Html.ActionLink("Jess", "Gallery/Jess", "Artist")</li>
        <li class="item">@Html.ActionLink("Andrew", "Gallery/Andrew", "Artist")</li>
    </ul>
</div>