@{
    ViewBag.Title = "Contact";
}

<section class="contact">
    <h3>Phone</h3>
    <p>
        <span class="label">Main:</span>
        <span>830.515.6389</span>
    </p>
</section>

<section class="contact">
    <h3>Email</h3>
    <p>
        <span class="label">Contact an artist:</span>
        <span><a href="mailto:info@riverrattattoos.com">Click here to send us a message!</a></span>
    </p>
</section>

<section class="contact">
    <h3>Address</h3>
    <p>
        965 N Walnut Ave #300<br />
        New Braunfels, TX 78130
    </p>
</section>