@{
    ViewBag.Title = "Contact";
}

<section class="contact">
    <header>
        <h1>Phone</h1>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>830.515.6389</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Contact an artist:</span>
        <span><a href="mailto:info@riverrattattoos.com">Click here to send us a message!</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        965 N Walnut Ave #300<br />
        New Braunfels, TX 78130
    </p>
    <br />
    <br />
</section>