@{
    ViewBag.Title = "Location";
}

<p>We&#8217;re located near the intersection of Walnut Ave. and Landa St. in the strip center next to the old Albertsons.  Just call if you have any trouble finding us!!</p>
<h3>Location</h3>
<address><strong>River Rat Tattoos</strong></address>
<address><strong>965 N Walnut Ave #300</strong></address>
<address><strong>New Braunfels, TX 78130</strong></address>
<address></address>
<h3>Hours</h3>
<address><strong>Monday &#8211; Thursday: Noon to 10pm</strong></address>
<address><strong>Friday and Saturday: Noon to 11pm</strong></address>
<address><strong>Sunday: Noon to 8pm</strong></address>

<p></p>
<p></p>
<p style="text-align: left;">
    <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=river+rat+tattoos&amp;sll=29.704157,-98.125248&amp;sspn=0.106609,0.181789&amp;ie=UTF8&amp;hq=river+rat+tattoos&amp;hnear=&amp;t=m&amp;ll=29.704157,-98.12542&amp;spn=0.14314,0.219727&amp;z=12&amp;iwloc=A&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="640" height="480"></iframe>
    <br />
<small><a style="color: #0000ff; text-align: left;" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=river+rat+tattoos&amp;sll=29.704157,-98.125248&amp;sspn=0.106609,0.181789&amp;ie=UTF8&amp;hq=river+rat+tattoos&amp;hnear=&amp;t=m&amp;ll=29.704157,-98.12542&amp;spn=0.14314,0.219727&amp;z=12&amp;iwloc=A">View Larger Map</a></small></p>